/*
* App Main Styles *
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

/* Flex Utilities */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-flow: row;
}

/* Flex Justify-Content */
.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.justify-start {
  justify-content: flex-start;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

/* Flex Items */
.self-center {
  align-self: center;
}

.grow-1 {
  flex-grow: 1;
}

.flex.wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: 0 auto 20px;
  padding: 0 16px;
}

.card {
  flex-basis: 32%;
  margin-right: 1%;
  margin-bottom: 15px;
}
.card img {
  width: 100%;
}