.product-detail {
    position: relative;
    text-align: center;
    color: $secondaryColor;
    background: $productColor;
}

.navigation {
    position: absolute;
    &:first-child {
        top: 50%;
        left: 0%;
    }
    &:nth-child(2) {
        top: 50%;
        right: 0%;
    }
    i {
        color: white;
        font-size: 48px;
        background-color: #dcedf2;
        padding: 20px 10px;
        border-radius: 5px;
    }   
}

.hero {
    position: relative;
    width: 100%;
    padding-top: 40px;
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    img {
        width: 100%;
        display: block;
    }
}

.description{
    background: $productColor;
    text-align: left;
    font-weight: bold;
    padding: 40px;
}
